@use '../constants';

/**
 * @mixin Botão de ação
 * @param {string} $color
 * @param {string} $fontSize
 * @param {string} $bgColor
 */
@mixin button-action($bgColor, $textColor, $fontSize) {
  font-size: $fontSize;
  color: $textColor;
  background: $bgColor;
  transition: constants.$transition-in;
  padding: constants.$button-padding;
  border: 2px solid $bgColor;
  border-radius: constants.$border-radius-small;

  &:hover {
    border: 2px solid lighten($bgColor, 5%);
    background: lighten($bgColor, 8%);
  }

  &:active {
    border: 2px solid darken($bgColor, 5%);
    background: darken($bgColor, 8%);
  }
}

@mixin button-disabled() {
  color: constants.$color-text-primary__inverted;
  background: constants.$color-mono-grey;
  transition: constants.$transition-in;

  &:hover {
    background: lighten(constants.$color-mono-grey, 8%);
  }

  &:active {
    background: darken(constants.$color-mono-grey, 8%);
  }
}
