@use '../constants';

@mixin input-text-line($color, $lineColor, $fontSize) {
  font-size: $fontSize;
  background: transparent;
  border: none;
  border-bottom: 2px solid constants.$color-disabled;
  padding: constants.$spacing-smaller;

  transition: constants.$transition-slow;

  &:hover {
    border-bottom: 2px solid rgba($lineColor, .5);
  }

  &:focus, &:active, &:active:hover, &:focus:hover {
    outline: none;
    border-bottom: 2px solid $lineColor;
  }

  &:disabled {
    background-color: constants.$color-disabled;
    border-color: constants.$color-disabled;
  }

  &::placeholder {
    color: $color;
    font-size: calc(#{$fontSize} * .8);
    opacity: .6;
  }
}
