<div class="contact__wrapper">
  <aside class="contact__container">
    <div class="contact__header">
      <h3 class="contact__title">Como posso ajudar?</h3>
      <p class="contact__subtitle">
        Mande uma mensagem! Tire uma dúvida e conheça mais sobre meu trabalho
      </p>
    </div>
    <form class="contact__form">
      <label class="form__inputContainer">
        <span class="form__inputLabel">
          Nome
        </span>
        <input
          class="form__inputElement"
          name="firstName"
          type="text"
          [(ngModel)]="customerFormData.firstName"
          placeholder="Seu primeiro nome"
        />
      </label>
      <label class="form__inputContainer">
        <span class="form__inputLabel">
          Sobrenome
        </span>
        <input
          class="form__inputElement"
          name="lastName"
          type="text"
          [(ngModel)]="customerFormData.lastName"
          placeholder="Seu último nome"
        />
      </label>
      <label class="form__inputContainer">
          <span class="form__inputLabel">
            Email
          </span>
        <input
          class="form__inputElement"
          name="email"
          type="text"
          [(ngModel)]="customerFormData.email"
          placeholder="Seu melhor email"
        />
      </label>
      <label class="form__inputContainer">
          <span class="form__inputLabel">
            Mensagem
          </span>
        <textarea
          class="form__inputElement"
          name="message"
          type="text"
          [(ngModel)]="customerFormData.message"
          placeholder="Escreva uma mensagem legal"
        ></textarea>
      </label>
      <label class="form__inputContainer">
          <span class="form__inputLabel">
            Mensagem
          </span>
        <input
          class="form__inputElement"
          name="intention"
          type="radio"
          [(ngModel)]="customerFormData.intention"
          [value]="0"
        />

        <input
          class="form__inputElement"
          name="intention"
          type="radio"
          [(ngModel)]="customerFormData.intention"
          [value]="1"
        />

        <input
          class="form__inputElement"
          name="intention"
          type="radio"
          [(ngModel)]="customerFormData.intention"
          [value]="2"
        />
      </label>

      <button class="form__submitButton" (click)="submitFormHandler()">
        Enviar
      </button>

      <p class="form__contactDisclaimer">
        <span class="form__contactDisclaimerText">
          Não enviamos spam ou compartilhamos suas informações com terceiros :)
        </span>
      </p>

      <button class="form__logUsersButton" (click)="getAllCustomers()">
        Log users
      </button>
    </form>
  </aside>
</div>
