@use "src/theme";

.contact__wrapper {
  padding: 0;
  width: fit-content;

  @media screen and (min-width: 768px) {
    max-width: 30%;
  }

  .contact__container {
    position: relative;
    display: flex;
    flex-direction: column;

    .contact__header {
      display: flex;
      flex-direction: column;

      .contact__title {
        @include theme.text-heading(theme.$color-text-action, theme.$font-size-medium);
      }

      .contact__subtitle {
        @include theme.text-body(theme.$color-text-action, theme.$font-size-smaller);
      }
    }

    .contact__form {

      .form__inputContainer {
        display: flex;
        flex-direction: column;

        .form__inputLabel {
          @include theme.text-input-label(theme.$color-text-action, theme.$font-size-smaller);
        }

        .form__inputElement {
          @include theme.input-text-line(theme.$color-text-primary, theme.$color-action-accent, theme.$font-size-small);
        }

        &:not(:last-child) {
          margin-bottom: theme.$spacing-medium;
        }
      }

      .form__contactDisclaimer {
        .form__contactDisclaimerText {
          font-size: theme.$font-size-smallest;
        }
      }

      .form__submitButton {
        @include theme.button-action(theme.$color-action-primary, theme.$color-text-primary__inverted, theme.$font-size-small);
      }

      .form__logUsersButton {

      }
    }

  }
}
