@import "../../../../styles";

.header__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  overflow: auto;
  z-index: 15;

  width: 100%;
  height: $header-height-desktop;
  background: linear-gradient(96.06deg, #FFC700 16.12%, #FF7A00 85.99%);
  box-shadow: $shadow-bottom-light;

  .header__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;

    .header__logoLink {
      position: relative;
      display: contents;

      .header__mainLogo {
        position: relative;
        height: 75%;
        color: $color-mono-white;
        border-radius: $border-rounded;
        transition: $transition-ease-out;

        &:hover {
          //color: lighten($color-action-primary, 10%);
          box-shadow: $shadow-strong;
        }
      }
    }

  }

  @media screen and (max-width: 768px) {
    height: $header-height-mobile;

    .header__container {
      .header__mainLogo {

      }
    }
  }
}