<div class="home__wrapper">
  <div class="home__container container">
    <div class="home__intro section-sp">
      <h3 class="home__headingName">Michel Camargo</h3>
      <h2 class="home__headingDescription">UI Developer</h2>
    </div>


    <span>
      Implementação e suporte a aplicações multiplataforma utilizando JavaScript e React.js ao lado de Node.js, Java ou Python.
      Além disso estudo a implementação de objetos e elementos tipados com TypeScript.
    </span>

    <span>
      Manter uma experiência positiva ao usuário possibilita o mapeamento de pontos focais e a priorização de recursos, garantindo uma alavancagem
      natural do produto expandindo a ótica de solução e definição dos objetivos.
    </span>

    <p>Acadêmico de Tecnologia em Sistemas para Internet pela Universidade Tecnológica Federal do Paraná </p>
    <p>Desenvolvedor de aplicações Web com foco na experiência do usuário e facilitação do uso e aprendizado</p>
    <p>Aficionado por tecnologia e design de interação, além de entusiasta do audiovisual e apreciador de boas artes</p>
  </div>

</div>
