@use "src/theme";

.home__wrapper {
  @include theme.light-background-asset;

  .home__container {
    display: flex;
    flex-direction: column;
    position: relative;

    .home__intro {



    }

  }
}
