<div class="home__wrapper">
  <div class="home__container container">
    <div class="home__intro section-sp">
      <div class="intro__contentContainer">
        <h3 class="intro__title">Michel Camargo</h3>
        <h2 class="intro__subtitle">UI Developer</h2>
        <h4 class="intro__description">
          Pleasure to ensure great experiences solving modern people problems
        </h4>
      </div>
      <div class="intro__social">
        <ul class="intro__socialList">
          <li class="intro__socialItem">
            <img class="intro__socialIcon" src="" alt="linkedin" />
            <a href="" class="intro__socialLink">
              LinkedIn
            </a>
          </li>
        </ul>
      </div>

      <div>

      </div>
<!--      <div id="minicart-backdrop" [class.opened]="isMinicartOpen" (click)="minicartService.minicartAction()"></div>-->

<!--      <div class="minicart__itemQuantitySelector">-->
<!--        <button type="button" class="btn minicart__itemQuantitySelectorMinus" (click)="decreaseProductQuantity(item)">-</button>-->
<!--        <input type="number" class="minicart__itemQuantitySelectorInput" value="{{item.selectedQuantity}}" (change)="changeQuantity($event, item)">-->
<!--        <button type="button" class="btn minicart__itemQuantitySelectorPlus" (click)="increaseProductQuantity(item)">+</button>-->
<!--      </div>-->
    </div>
  </div>

</div>
