<div class="portfolio__wrapper">
  <h3 class="portfolio__headTitle">
    Projetos em que participei
  </h3>

  <a *ngFor="let portfolio of career" class="portfolio__experience" [href]="portfolio.link" target="_blank">
    <div class="experience__gallery">
      <img class="experience__galleryItem" [src]="'#'" [alt]="portfolio.heading">
<!--      <img class="experience__galleryItem" [src]="portfolio.src" [alt]="portfolio.heading">-->
<!--      <img class="experience__galleryItem" [src]="portfolio.src" [alt]="portfolio.heading">-->
<!--      <img class="experience__galleryItem" [src]="portfolio.src" [alt]="portfolio.heading">-->
    </div>
    <div class="experience__summary">
      <h5 class="experience__title">
        {{portfolio.heading}}
      </h5>
      <h6 class="experience__subtitle">
        {{portfolio.subheading}}
      </h6>
      <div class="experience__contentContainer">
        <p class="experience__contentDescription">
          {{portfolio.description}}
        </p>
      </div>
      <a class="experience__linkElement">
        <button class="experience__btnVisit">
          Confira online
        </button>
      </a>
    </div>
  </a>
</div>
