$asset-arrow-down: url("../../assets/svg/common/arrow-down.svg") no-repeat center/100%;
$asset-arrow-down-action: url("../../assets/svg/common/arrow-down-action.svg") no-repeat center/100%;
$asset-arrow-right: url("../../assets/svg/common/arrow-right.svg") no-repeat center;
//$asset-background-primary: url("../../assets/img/background/starline.jpg") no-repeat center center;
