$color-text-primary: #333333;
$color-text-primary__inverted: #FFFFFF;
$color-text-secondary: #3A3A3A;
$color-text-action: #17433E;
$color-action-primary: #17433E;
$color-action-primary__highlight: #217169;
$color-action-secondary: #4DBE97;
$color-action-secondary__highlight: #1D9A6D;
$color-action-accent: #FF796A;
$color-action-accent__highlight: #DE594C;
$color-background-primary: #F8F8F8;
$color-background-secondary: #E8E8E8;
$color-disabled: #979899;
$color-mono-white: #FFFFFF;
