$color-text-primary: #c9dbff;
$color-text-primary__inverted: #24252f;
$color-text-secondary: #d9d9d9;
$color-text-secondary__inverted: #000000;
$color-text-action: #17433E;
$color-action-primary: #17433E;
$color-action-primary__highlight: #217169;
$color-action-secondary: #4DBE97;
$color-action-secondary__highlight: #1D9A6D;
$color-action-accent: #FF796A;
$color-action-accent__highlight: #DE594C;
$color-background-primary: #1e1e25;
$color-background-secondary: #0f1221;
$color-disabled: #979899;
$color-mono-white: #FFFFFF;
