$color-text-primary: #1C0A31;
$color-text-primary__inverted: #f4f4f4;
$color-text-secondary: #d9d9d9;
$color-text-secondary__inverted: #000000;
$color-text-action: #003844;

$color-action-primary: #006A82;
$color-action-primary__highlight: #003844;
$color-action-secondary: #4DBE97;
$color-action-secondary__highlight: #1D9A6D;
$color-action-accent: #00A0C3;
$color-action-accent__highlight: #00bfec;

$color-background-primary: #f4f4f4;
$color-background-secondary: #fefefe;
$color-disabled: #979899;

$color-mono-white: #FFFFFF;
$color-mono-lightGrey: #bebebe;
$color-mono-grey: #808080;
$color-mono-darkGrey: #444444;
$color-mono-black: #000000;

$game-color-background: #1a1818;
