$font-size-smallest: 12px;
$font-size-smaller: 16px;
$font-size-small: 18px;
$font-size-medium: 20px;
$font-size-semi-large: 26px;
$font-size-large: 38px;
$font-size-larger: 52px;
$font-size-largest: 64px;

$font-family-base: 'Sora';
