$font-size-smallest: 12px;
$font-size-smaller: 16px;
$font-size-small: 20px;
$font-size-medium: 28px;
$font-size-semi-large: 32px;
$font-size-large: 56px;
$font-size-larger: 64px;
$font-size-largest: 96px;

$font-family-base: 'Sora';
