$font-size-smallest: 12px;
$font-size-smaller: 13px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-semi-large: 18px;
$font-size-large: 20px;
$font-size-larger: 24px;
$font-size-largest: 32px;

$font-family-base: 'Poppins';
