$container-width: 1170px;
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;
$border-radius-rounded: 100%;
$transition: all .3s ease;
$transition-in: .15s ease-in;
$transition-out: .15s ease-out;
