$spacing-smallest: 2px;
$spacing-smaller: .25rem;
$spacing-small: .5rem;
$spacing-mid-large: .75rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-larger: 3rem;
$spacing-x-large: 4rem;
$spacing-largest: 6rem;
$button-padding: $spacing-smaller $spacing-mid-large;
