$color-background-primary: #f3f3f3;
$color-text-action-primary: #303030;

$container-width: 1130px;

$spacing-small: 1rem;
$spacing-medium: 1rem;
$spacing-md-large: 1.5rem;
$spacing-large: 3rem;
$spacing-larger: 4rem;
$spacing-largest: 6rem;