#root{
    /*colors*/
    --color-action-primary: #011017;
    --color-action-primary--muted: #cae8f9;
    --color-action-secondary: #55b666;
    --color-action-secondary--muted: #28353D;
    --color-text-light-primary: #FFFFFF;
    --color-text-light-secondary: #FFFFFF;
    --color-text-dark-primary: #161616;
    --color-text-dark-secondary: #363636;
    --color-background-primary: #FFFFFF;
    --color-background-secondary: #F1F1F1;
    --color-dark-inactive: rgba(0, 0, 0, .4);
    --color-light-inactive: rgba(255, 255, 255, .8);

    --white: #FFFFFF;
    --black: #222222;
    --lighterGreen: #cae8f9;
    --darkerGreen: #011017;
    --secondary: #55b666;
    --darkGreen: #0A1D24;
    --greyGreen: #323B42;
    --otherTone: #28353D;
    --otherDark: #12232B;

    /*typography*/
    --font-family-heading: 'Atkinson';
    --font-family-base: 'IstokWeb';

    --font-size-smallest: 11px;
    --font-size-smaller: 12px;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --font-size-larger: 24px;
    --font-size-largest: 28px;

}

* {
    font-family: 'IstokWeb', 'Arial', sans-serif;
}

/*JOST*/
@font-face {
    font-family: "Jost";
    src: local("Jost"),
    url('../assets/fonts/Jost/Jost-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Jost";
    src: local("Jost"),
    url('../assets/fonts/Jost/Jost-Thin.ttf') format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Jost";
    src: local("Jost"),
    url('../assets/fonts/Jost/Jost-Light.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Jost";
    src: local("Jost"),
    url('../assets/fonts/Jost/Jost-Medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Jost";
    src: local("Jost"),
    url('../assets/fonts/Jost/Jost-SemiBold.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Jost";
    src: local("Jost"),
    url('../assets/fonts/Jost/Jost-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Jost";
    src: local("Jost"),
    url('../assets/fonts/Jost/Jost-Black.ttf') format("truetype");
    font-weight: 800;
}

/*ATKINSON*/
@font-face {
    font-family: "Atkinson";
    src: local("Atkinson-Hyperlegible"),
    url('../assets/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Atkinson";
    src: local("Atkinson-Hyperlegible"),
    url("../assets/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold.ttf") format("truetype");
    font-weight: bold;
}

/*ISTOKWEB*/
@font-face {
    font-family: "IstokWeb";
    src: local("IstokWeb"),
    url("../assets/fonts/IstokWeb/IstokWeb-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "IstokWeb";
    src: local("IstokWeb"),
    url("../assets/fonts/IstokWeb/IstokWeb-Bold.ttf") format("truetype");
    font-weight: bold;
}