#root{
    --background-primary: #FFFFFF;
    --background-secondary: #F1F1F1;
    --text-heading-primary: #222222;
    --text-heading-secondary: #444444;
    --text-base-primary: #242424;
    --text-base-secondary: #666666;
    --action-primary: #0A1D24;
    --action-primary--muted: #0A1D24;
    --action-secondary: #0A1D24;
    --action-secondary--muted: #0A1D24;
    --inactive: rgb(255, 255, 255, .8);

    --white: #FFFFFF;
    --whiteInactive: rgb(255, 255, 255, .8);
    --black: #222222;
    --lighterGreen: #cae8f9;
    --darkerGreen: #011017;
    --secondary: #55b666;
    --darkGreen: #0A1D24;
    --greyGreen: #323B42;
    --otherTone: #28353D;
    --otherDark: #12232B;
}

* {
    font-family: 'Atkinson', 'Arial', sans-serif;
}

@font-face {
    font-family: "Atkinson";
    src: local("Atkinson-Hyperlegible"),
    url('../assets/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Atkinson";
    src: local("Atkinson-Hyperlegible"),
    url("../assets/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold.ttf") format("truetype");
    font-weight: bold;
}