<footer class="footer">
  <div class="footer__container container">
    <div class="footer__menu">
      <ul class="footer__menuList" *ngFor="let menu of footerContent">
        <li class="footer__menuItem" *ngFor="let item of menu">
          <ng-container *ngIf="item.link && item.link != '#'; else noLink">
            <a class="footer__menuLink link" href="{{item.link}}" target="{{item.is_external && '_blank'}}">
              <ng-container *ngIf="item.img_src">
                <img class="footer__menuIcon" alt="{{item.text}}" src="{{item.img_src}}" />
              </ng-container>
              {{item.text}}
            </a>
          </ng-container>
          <ng-template #noLink>
            <ng-container *ngIf="item.img_src">
              <img class="footer__menuIcon" alt="{{item.text}}" src="{{item.img_src}}" />
            </ng-container>
            {{item.text}}
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</footer>
