<footer class="footer">
  <div class="footer__container container">
    <div class="footer__menu">
      <ul class="footer__menuList" *ngFor="let menu of footerContent">
        <h6 class="footer__menuHeading">{{menu.title}}</h6>
        <li class="footer__menuItem" *ngFor="let item of menu.items">
          <a class="footer__menuLink link" href="{{item.link}}" target="{{item.external && '_blank'}}">
            <ng-container *ngIf="item.icon">
              <img class="footer__menuIcon" alt="{{item.label}}" src="{{item.icon}}" />
            </ng-container>
            {{item.label}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
