<div class="header__wrapper">
  <div class="header__container container">
    <a class="header__logoLink" href="#">
      <img class="header__logo" src="assets/svg/header/michelcamargo.svg" alt="Michel Camargo">
    </a>

    <nav class="header__navWrapper">
      <ul class="nav__list">
        <li class="nav__listItem" *ngFor="let item of headerContent.navigation">
          <ng-container *ngIf="item.highlighted">
            <a class="nav__ctaLink link" href="{{item.link}}">
              <button class="nav__ctaButton btn">
                {{item.label}}
              </button>
            </a>
          </ng-container>
          <ng-container *ngIf="!item.highlighted">
            <a class="nav__link link" href="{{item.link}}">
              {{item.label}}
            </a>
          </ng-container>
        </li>
      </ul>
    </nav>
  </div>
</div>
