@use "./src/theme";

.header__wrapper {
  width: 100%;
  display: flex;
  background: theme.$color-background-secondary;
  height: 64px;

  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    align-items: center;

    .header__logoLink {
      display: inline-block;
      position: relative;
      height: 75%;

      .header__logo {
        display: inline-block;
        position: relative;
        height: 100%;
        fill: red;
        color: blue;
      }
    }

    .header__navWrapper {
      .nav__list {
        display: flex;
        flex-direction: row;
        align-items: center;

        .nav__listItem {
          &:not(&:last-child) {
            margin-right: 1rem;
          }

          .nav__link {
            @include theme.text-link-action(theme.$color-action-primary, theme.$color-action-primary, theme.$font-size-small);
          }

          .nav__ctaLink {
            height: fit-content;
            width: fit-content;

            .nav__ctaButton {
              @include theme.button-action(theme.$color-text-primary__inverted, theme.$font-size-small, theme.$color-action-primary);
            }
          }
        }
      }
    }
  }
}
