@use './src/theme';

.footer {
  width: 100%;
  background: theme.$color-background-secondary;
  padding-top: theme.$spacing-medium;
  padding-bottom: theme.$spacing-medium;

  .footer__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .footer__menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .footer__menuList {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;

        .footer__menuHeading {
          width: fit-content;
          height: fit-content;
          line-height: 1;
          font-size: theme.$font-size-smaller;
          font-weight: 600;
          color: theme.$color-text-action;
          margin-bottom: theme.$spacing-small;
        }

        .footer__menuItem {
          width: fit-content;
          height: fit-content;
          line-height: 1;

          &:not(&:last-child) {
            margin-bottom: theme.$spacing-smaller;
          }

          .footer__menuLink {
            font-size: theme.$font-size-x-small;
            color: theme.$color-text-primary;
            text-decoration: none;

            &:hover {
              color: theme.$color-action-accent;
            }

            &:focus, &:active {}

            &:focus-visible {}

            &:visited {}
          }
        }
      }
    }
  }
}
