@import "../../../theme/index";

.game__screen {
  display: flex;
  position: relative;
  background: $game-color-background;
  height: 620px;
  width: 100%;

  .game__presentation {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    color: $color-action-accent;
  }
}
