@use "src/theme";

.work-view__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;

  .work-view__leftElement {
    position: relative;
    display: flex;
    width: 29%;
    margin-top: theme.$spacing-larger;
    background: theme.$color-background-secondary;
    padding: theme.$spacing-medium;
    border-radius: theme.$border-radius-small;
    height: fit-content;
    max-height: 80vh;
  }

  .work-view__rightElement {
    position: relative;
    display: flex;
    width: 69%;
    overflow-y: auto;
  }
}
