<div class="authentication__wrapper">
  <div class="authentication__headingContainer">
    <h2 class="authentication__headTitle">Login</h2>
  </div>
  <div class="authentication__content">
    <form class="authentication__form auth-form__element">
      <div class="auth-form__inputGroup">
        <label class="auth-form__inputLabel" for="email">Email</label>
        <input
          name="email"
          class="auth-form__inputElement"
          type="email"
          id="email"
          [(ngModel)]="inputEmail"
          placeholder="Email de acesso"
        >
      </div>
      <div class="auth-form__inputGroup">
        <label class="auth-form__inputLabel" for="password">Senha</label>
        <input
          name="password"
          class="auth-form__inputElement"
          type="password"
          id="password"
          [(ngModel)]="inputPassword"
          placeholder="Senha de acesso"
        >
      </div>
      <button class="btn auth-form__submitButton" type="submit">Entrar</button>
      <button class="btn auth-form__registerButton" type="button">Registre-se</button>
    </form>
  </div>
<!--  <button class="form__logUsersButton" (click)="getAllUsers()">-->
<!--    Log users-->
<!--  </button>-->
</div>
