@font-face {
  font-family: 'Sora';
  src: url('assets/fonts/Sora-Bold.woff2') format('woff2'),
  url('assets/fonts/Sora-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('assets/fonts/Sora-ExtraBold.woff2') format('woff2'),
  url('assets/fonts/Sora-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('assets/fonts/Sora-Thin.woff2') format('woff2'),
  url('assets/fonts/Sora-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('assets/fonts/Sora-Light.woff2') format('woff2'),
  url('assets/fonts/Sora-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('assets/fonts/Sora-SemiBold.woff2') format('woff2'),
  url('assets/fonts/Sora-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('assets/fonts/Sora-Medium.woff2') format('woff2'),
  url('assets/fonts/Sora-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('assets/fonts/Sora-ExtraLight.woff2') format('woff2'),
  url('assets/fonts/Sora-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('assets/fonts/Sora-Regular.woff2') format('woff2'),
  url('assets/fonts/Sora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
