* {
  box-sizing: border-box; /* define o tamanho da caixa como width e height reais */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

:root { /* variáveis globais */
  --primary: #14D6DB;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --grayDark: #141414;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

/* inherit herda do pai */
a {
  color: inherit;
  text-decoration: none;
}

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  body {
      --bodyPaddingTop: 20px;
      padding-top: var(--bodyPaddingTop);
  }
}