#root{
	--white: #FFFFFF;
	--whiteInactive: rgb(255, 255, 255, .8);
	--black: #222222;
	--lighterGreen: #cae8f9;
	--darkerGreen: #011017;
	--secondary: #55b666;
	--darkGreen: #0A1D24;
	--greyGreen: #323B42;
	--otherTone: #28353D;
	--otherDark: #12232B;
}

@font-face {
	font-family: "Atkinson";
	src: local("Atkinson-Hyperlegible"),
	url('./assets/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular.ttf') format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Atkinson";
	src: local("Atkinson-Hyperlegible"),
	url("./assets/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold.ttf") format("truetype");
	font-weight: bold;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Atkinson', 'Arial', sans-serif;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:before, 
*:after{
	box-sizing: border-box;
 
}

button{
	border: none;
}

