* {
  box-sizing: border-box; /* define o tamanho da caixa como width e height reais */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

:root { /* variáveis globais */
  --primary: #ff3737;
  --secondary: #2ecdda;
  --black: #111111;
  --white: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

/* inherit herda do pai */
a, ul, li {
  color: inherit;
  text-decoration: none;
}

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
}

@media (max-width: 800px) {
  body {
      background-color: var(--black);
  }

}

