@import './theme';

body {
  height: 100vh;
}

main {
  height: 100vh;
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  @include light-background-asset;
}

.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;

  @media screen and (max-width: 768px) {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
}

.link {
  text-decoration: none;
  transition: $transition-out;

  &:hover {
    text-decoration: underline;
  }

  &:focus, &:active {}

  &:focus-visible {

  }

  &:visited {}
}

.section-sp {
  padding-top: $spacing-largest;
  padding-bottom: $spacing-largest;
}

.section-sp-top {
  padding-top: $spacing-largest;
}

.section-sp-top {
  padding-bottom: $spacing-largest;
}

/** region BOOTSTRAP */
//@import '~bootstrap/scss/bootstrap'; // Bootstrap completo

// Funções
@import "../node_modules/bootstrap/scss/functions";

// Customização
$primary: #006A82;
$secondary: #4DBE97;
$body-font-family: 'Sora', 'Verdana', sans-serif;
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;
$body-color: #212529;
$body-bg: #fff;

// Bootstrap base
@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Pacotes opcionais
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
//@import "../node_modules/bootstrap/scss/utilities/api";
/** endregion */
