@import "../../../../styles";

.presentation__container {
  .presentation__mainTitle {
    font-size: $font-size-larger;
    margin-bottom: $spacing-small;
  }
  .presentation__mainDescription {
    font-size: $font-size-midlarge;
    margin-bottom: $spacing-small;
  }
  .presentation__socialContainer {
    display: flex;
    flex-direction: row;
    column-gap: $spacing-medium;

    @media screen and (max-width: 768px) {
      column-gap: $spacing-small;
    }

    .social__button {
      //@include buttonStyle($color-action-secondary, $font-size-medium, $color-text-primary__inverted);

      @include buttonLightStyle($color-mono-white, $color-action-secondary, $font-size-medium, $color-text-primary);
    }
  }
}